{{> header title="Account" }}

<body class="text-center">
  
  {{> nav }}
  
  <div class="container-fluid">
    
    {{> flash }}
    
    <div class="row text-left mt-4">
        
      <div class="modal fade" id="referModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body text-left">
            
              <h1 class="h4 mb-1 mt-3 text-center">Referral Program</h1>
              
              <p style="font-weight: 300; font-size: 17px; color: #666;" class="text-center mt-3 mb-1">Your Total Discount</p>
              <h4 class="mb-0 h3 text-center confirmed-blue">{{percentOff}}% Off</h4>
              
              <ul class="ml-4 mr-4 mt-2">
                {{#if referredBy}}
                <li>
                  10% Off: You were referred by a friend.
                </li>
                {{/if}}
                
                {{#each referrals.active}}
                <li>
                  10% Off: You referred {{this}}. <div class="badge badge-success">Active</div>
                </li>
                {{/each}}
                {{#each referrals.trial}}
                <li>
                  (Pending) 10% Off: You referred {{this}}. <div class="badge badge-warning">Trial</div>
                </li>
                {{/each}}
                <li>
                  Share your referral link to get 10% per active user. You can get up to 100% off!
                </li>
              </ul>
              
              <p style="font-size: 12px;" class="pl-4 pr-4 text-left mt-3">Eligible referrals must sign up with your referral link through our website at {{DOMAIN}}, NOT the App Store or Google Play store. You'll get 10% off your subscription for every paid and active referral. You can have up to ten active referrals, at which point you'll use Confirmed VPN for free. Discounts apply to your next invoice. Trials, cancellations, and refunds do not count for your discount.</p>
              
            </div>
            <div class="modal-footer text-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 offset-lg-1 col-12 pt-4">
        
        <div class="row text-left pl-2 pr-2">
          
          <div class="col-12 pt-4 pb-5 confirmed-panel">
            
              <h1 class="h5 mb-1 mt-3">Your Account</h1>
              <p class="mb-4 mt-2" style="font-weight: 300; font-size: 14px; color: #666;">{{email}}</p>
              
              {{#each subscriptions}}
              <p class="" style="margin-top: 5px; font-size: 16px; margin-bottom: 0px;">{{ this.planName }}</p>
              <p style="font-weight: 300; font-size: 13px; color: #666; margin-bottom: 2px; margin-top: 2px;">{{ this.planDescription }}</p>
              <p style="margin-bottom: 5px; font-size: 13px; color: #666;">
                {{#if this.inTrial}}
                In Trial Period, 
                {{/if}}
                {{#if this.renewEnabled}}
                  Renews on 
                {{else}}
                  Expires on
                {{/if}}{{this.expirationDateString}}
              </p>
              <!-- If not "all"/Pro plan, then allow upgrade -->
              {{#unless this.planIsAll}}
              <a href="/new-subscription?upgrade={{this.planType}}&browser=true" class="btn confirmed-blue-btn btn-sm btn-block">Upgrade Plan to All Devices</a>
              {{/unless}}
              <!-- If "all"/Pro plan, then allow cancel -->
              {{#if this.planIsAll}}
              <div class="text-center pt-0">
                <a href="/cancel-subscription?receiptId={{this.receiptId}}&receiptType={{this.receiptType}}" class="btn-block btn text-left" style="max-width: 180px; min-width: 180px; padding-left: 0px; border-left-width: 0px; font-size: 12px; height: 20px;">Cancel Plan</a>
              </div>
              {{/if}}
              {{else}}
              <h1 style="text-align:center; font-size: 14px; margin-top: 15px; color: #999; margin-bottom:12px;">No active subscription.</h1>
              <a href="/new-subscription?browser=true" class="btn confirmed-blue-btn btn-sm btn-block mt-2">New Subscription</a>
              {{/each}}
              
              <hr class="mt-4">
              
              {{#if this.hasStripeId}}
              <a href="/payment-methods" class="btn-block btn text-left" style=" padding-left: 0px; border-left-width: 0px; max-width: 180px; min-width: 180px;">Payment Methods</a>
              <a href="/invoices" class="btn-block btn text-left" style=" padding-left: 0px; border-left-width: 0px; max-width: 180px; min-width: 180px;">Invoices</a>
              {{/if}}
              <a href="/change-email" class="btn-block btn text-left" style=" padding-left: 0px; border-left-width: 0px; max-width: 180px; min-width: 180px;">Change Email</a>
              <a href="/change-password" class="btn-block btn text-left" style=" padding-left: 0px; border-left-width: 0px; max-width: 180px; min-width: 180px;">Change Password</a>
          
          </div>

        </div> <!-- row -->
        
      </div>
      
      <div class="col-lg-7 col-12 pt-4">
        
        <div class="row text-center pl-2 pr-2">
          
          <div class="col-12 confirmed-panel">
            
            <h1 class="h4 text-center mt-3">Refer Friends, Earn Discounts</h1>
            <p style="font-weight: 300; font-size: 13px; color: #888;">Get a recurring 10% discount for every friend you refer that has an active, paid subscription.</p>
        
            <div class="row mt-4 mb-3">
              <div class="col-lg-5 col-12 text-center">
                <p style="font-weight: 300; font-size: 13px; color: #666;" class="mt-4 mb-0">Your Discount</p>
                <h6 class="mt-1 mb-0 h4">{{percentOff}}% Off</h6>
                <a href="#" data-toggle="modal" data-target="#referModal" class="btn-block btn btn-sm text-center pt-0 mb-2">View Details</a>
                <p style="font-weight: 300; font-size: 13px; color: #666;" class="mb-0 text-left">Because we don't participate in invasive advertising, we rely on our users to get the word out. We would much rather start a grassroots campaign and spark conversations about privacy, instead of paying a third party to track your habits.</p>
                <a href="#" data-toggle="modal" data-target="#referModal" class="btn-block btn text-left" style=" padding-left: 0px; border-left-width: 0px; max-width: 180px; min-width: 180px;">How Does It Work?</a>
              </div>
              <div class="col-lg-7 col-12">
                
                <p class="h5 mt-5 mb-1" >Your Referral Link</p>
                <p style="font-weight: 300; font-size: 13px; color: #666;">Friends also get 10% off by using your link.</p>
                
                <div class="input-group mt-0">
                  <input type="text" class="form-control text-center" readonly="readonly" id="referLink" style="font-size: 12px !important; user-select: all;" name="referLink" value="https://{{DOMAIN}}/signup?refer={{code}}">
                </div>
  
                <div class="row pt-2 pl-3 pr-3">
                  <div class="col-4 p-0 pr-1">
                    <button type="button" data-clipboard-text="https://{{DOMAIN}}/signup?refer={{code}}" class="btn confirmed-blue-btn btn-sm btn-block" data-toggle="popover" data-content="Referral Link Copied!">
                    Copy Link
                    </button>
                  </div>
                  <div class="col-4 p-0 pr-1 pl-1">
                    <a href="sms:&body=Protect%20your%20internet%20privacy%20with%20the%20fully-audited%20Confirmed%20VPN.%20Use%20my%20referral%20link%20to%20get%2010%25%20off%3A%20https%3A%2F%2F{{DOMAIN}}%2Fsignup%3Frefer%3D{{code}}" style="text-decoration: none;">
                      <button type="button" class="btn btn-block confirmed-blue-btn btn-sm">
                        Share by Text
                      </button>
                    </a>
                  </div>
                  <div class="col-4 p-0 pl-1">
                    <a href="mailto:?subject=Protect%20your%20internet%20privacy%20with%20the%20fully-audited%20Confirmed%20VPN.%20Use%20my%20referral%20link%20to%20get%2010%25%20off%3A%20https%3A%2F%2F{{DOMAIN}}%2Fsignup%3Frefer%3D{{code}}" style="text-decoration: none;">
                      <button type="button" class="btn btn-block confirmed-blue-btn btn-sm">
                        Share by Email
                      </button>
                    </a>
                  </div>
                </div>
              </div>
    
            </div>
        
          </div>
        </div>
        
      </div> <!-- column -->
      
      
    </div> <!-- row -->
    
  </div> <!-- container -->
  
  {{> footer}}
  
  <script src="/js/clipboard.min.js"></script>

  {{> bootstrapjs}}
  
  <script>
  var cb = new ClipboardJS('.btn');
  
  cb.on('success', function(e) {
      e.clearSelection();
      $('.popover').show();
      setTimeout(
        function () {
          $('.popover').hide();
        },
        3000
      );
  });
  
  $('[data-toggle="popover"]').popover({
      placement: 'bottom'
  });
  </script>
  
</body>