<html>

  <head>
    <title>Confirmed VPN</title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Confirmed is the world's only Openly Operated VPN that protects your data against against hackers, snoopers, and even your ISP.">
    <meta name="author" content="Confirmed Inc.">
    <meta name="apple-itunes-app" content="app-id=1286896061, affiliate-data=partnerId=11l32tU&siteID=2400">
  	<meta property="og:type" content="product">
  	<meta property="og:title" content="Confirmed VPN: Secure, Private Internet">
  	<meta property="og:description" content="Confirmed is the world's only Openly Operated VPN that protects your data against against hackers, snoopers, and even your ISP.">
  	<meta property="og:url" content="https://confirmedvpn.com">
    <meta property="og:image" content="https://confirmedvpn.com/images/preview.jpg">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="google-site-verification" content="0szusu_OHNrnWbY2_mY02CTRvIuqOlqjR0FqyxVeyQg" />

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/color.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
  </head>

  <body class="font-friendly">
    <div class="lightblue-white">
      <header class="header">
        <div class="container-lrg">
          <div class="flex col-12 spread">
            <a class="logo" href="/">
              <img src="images/logo.png" alt="Confirmed VPNCompany Logo">
            </a>
              <a href="https://{{DOMAIN}}/signin" class="paragraph secondary-color person accent-bg header-email" style="margin-left: 10px;">Account</a>
          </div>
        </div>
      </header>
      <section class="section">
        <div class="container">
          <div class="col-12 text-center">
            <h1 class="heading-lrg primary-color">Finally, a VPN you can trust.</h1>
            <h2 class="subheading secondary-color mt20">The world's first fully audited and <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a> VPN. Bulletproof your browsing and data against hackers, snoopers, and even your ISP.</h2>
            <div class="mt40">
              <div class="mt40" style="color: #ddd; font-weight: 700; font-size: 14px;">
                GET STARTED FREE
              </div>
              <a href="/download-mac-app" target="_blank" class="button mt10 mr10 primary-color accent-bg">
                <span style="font-size: 18px;"><i class="fa fa-apple" style=" margin-right: 2px; " aria-hidden="true"></i> Mac </span>
              </a>
              <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="button mt10 mr10 primary-color accent-bg">
                <span style="font-size: 18px;"> <i class="fa fa-apple" style=" margin-right: 2px; " aria-hidden="true"></i> iOS </span>
              </a>
              <a href="/download-windows-app" target="_blank" class="button mt10 mr10 primary-color accent-bg">
                <span style="font-size: 18px;"> <i class="fa fa-windows" style=" margin-right: 2px; " aria-hidden="true"></i> PC </span>
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="button mt10 mr10 primary-color accent-bg">
                <span style="font-size: 18px;"> <i class="fa fa-android" style=" margin-right: 2px; " aria-hidden="true"></i> Android </span>
              </a>
            </div>
          </div>
        </div>
        <div class="container-lrg">
          <div class="col-12">
            <div class="computerphone">
              <div class="computerphone-computer">
                <div class="mask">
                  <img src="images/mac-screenshot.jpg" alt="Screenshot of App inside a laptop" class="mask-img" style="margin-bottom: -5px;">
                </div>
                <div class="computerphone-computer-bottom"></div>
              </div>
              <div class="computerphone-iphone">
                <div class="mask">
                  <img src="images/iphone-screenshot.jpg" alt="Screenshot of iPhone App" class="mask-img" style="margin-bottom: -5px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="section lightblue-white" style="background-color: #f4f4f4; padding-bottom: 50px;">
      <div class="container-lrg flex">
        <div class="col-6">
          <img class="mask-img" src="images/tc.png" style="max-width: 175px;">
          <p class="paragraph" style="margin-top: 5px;font-size: 14px; font-style:italic;">"Confirmed VPN wants to bring transparency to the VPN industry"</p>
          <p style="text-align:right; font-size: 12px; margin-top: 4px;">- TechCrunch, December 12th, 2018</p>
        </div>
        <div class="col-6">
            <img class="mask-img" src="images/9to5mac.png" style="max-width: 175px;">
            <p class="paragraph" style="margin-top: 5px;font-size: 14px; font-style:italic; line-height: 20px;">"Confirmed VPN update makes it the first open service with third-party audits, open source code, more"</p>
            <p style="text-align:right; font-size: 12px; margin-top: 4px;">- 9to5Mac, December 12th, 2018</p>
        </div>
      </div>
    </section>
    <section class="section lightblue-white">
      <div class="container-lrg flex">
        <div class="col-4 text-center flex flex-column center-horizontal">
          <i class="icon mobile-center-icon secondary-bg">
            <svg class="svg-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25">
              <path d="M20 22.494v1a.5.5 0 0 1-1 0v-1a.5.5 0 1 1 1 0zm-14.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 1 0v-1a.5.5 0 0 0-.5-.5zm7 1a10.924 10.924 0 0 1-2.494-.391l-.27 1.76a.528.528 0 0 0 .097.454.498.498 0 0 0 .387.183h4.56a.5.5 0 0 0 .49-.598l-.275-1.8a10.928 10.928 0 0 1-2.495.392zm9.06-7.44L18 11.995v9h2.5a1.5 1.5 0 0 0 1.5-1.5v-2.879a1.5 1.5 0 0 0-.44-1.06zM17 5.995v15a18.472 18.472 0 0 1-4 .974v-7.474a.5.5 0 0 0-1 0v7.474a18.47 18.47 0 0 1-4-.974v-15C8 3.67 11.553.244 12.5 0c.947.244 4.5 3.67 4.5 5.994zm-2.168 1.127A4.374 4.374 0 0 0 12.5 5.994a4.113 4.113 0 0 0-2.343 1.136.5.5 0 0 0 .686.729 3.213 3.213 0 0 1 1.657-.865 3.417 3.417 0 0 1 1.668.874.5.5 0 0 0 .664-.748zM3 16.614v2.88a1.5 1.5 0 0 0 1.5 1.5H7v-9l-3.56 3.56a1.5 1.5 0 0 0-.44 1.06z"></path>
            </svg>
          </i>
          <h3 class="bold primary-color">Openly Operated&#8482;</h3>
          <p class="paragraph secondary-color">Confirmed is the only VPN that can <strong>prove</strong> we don't log or sell your data to third parties.<br/><a href="/openly-operated" style="color: #3498db; font-weight: 700;">Learn More</a></p>
        </div>
        <div class="col-4 text-center flex flex-column center-horizontal">
          <i class="icon mobile-center-icon secondary-bg">
            <svg class="svg-fill" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.836 9.111l-5.83 5.216 1.552 8.077a.5.5 0 0 1-.72.539l-6.864-3.544-6.865 3.541a.5.5 0 0 1-.72-.541l1.597-8.067-5.822-5.22a.5.5 0 0 1 .256-.864L8.095 7.01 11.556.271a.5.5 0 0 1 .89 0l3.461 6.738 7.673 1.239a.5.5 0 0 1 .256.863z"></path>
            </svg>
          </i>
          <h3 class="bold primary-color">Hide Location &amp; IP</h3>
          <p class="paragraph secondary-color">Stop apps and websites you visit from selling your location data or your uniquely identifiable IP address.</p>
        </div>
        <div class="col-4 text-center flex flex-column center-horizontal">
          <i class="icon mobile-center-icon secondary-bg">
            <svg class="svg-fill" viewBox="0 0 21 23" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0v11c0 4.625 5.438 12 10.5 12C15.563 23 21 15.625 21 11V0H0zm10.5 20C6.95 20 3 14.934 3 11.5v-8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H4v7.5c0 2.894 3.55 7.5 6.5 7.5a.5.5 0 1 1 0 1z"></path>
            </svg>
          </i>
          <h3 class="bold primary-color">Security & Privacy</h3>
          <p class="paragraph secondary-color">State-of-the-art encryption keeps your activity and data private when you're on shared wifi or public hotspots.</p>
        </div>
      </div>
    </section>
    <section class="section lightblue-white">
      <div class="container text-center mb50">
        <div class="col-12">
          <h3 class="heading primary-color">Why Confirmed VPN?</h3>
        </div>
      </div>
      <div class="container flex">
        <ul class="checklist col-12">
          <li class="checklist-item flex center-horizontal spread pad20" style="border-bottom: none; padding-top: 5px; padding-bottom: 3px; ">
            <p class="bold primary-color mr20">Openly Operated&#8482;: Trust Through Transparency</p>
            <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="noshrink svg-fill">
              <g transform="translate(4.000000, 5.000000)">
                <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
              </g>
            </svg>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20" style="border-bottom: none; padding-top: 3px; padding-bottom: 3px; padding-left: 10%;">
            <p class="bold primary-color mr20" style="font-size: 18px;">&#8226; <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">See Proof</a> Of Our Privacy Policy</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20" style="border-bottom: none; padding-top: 3px; padding-bottom: 3px; padding-left: 10%;">
            <p class="bold primary-color mr20" style="font-size: 18px;">&#8226; Open Source & Open Infrastructure</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20" style="padding-top: 3px; padding-left: 10%;">
            <p class="bold primary-color mr20" style="font-size: 18px;">&#8226; Fully Audited By Privacy Experts</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">Ridiculously Fast: Up to 300mbps Download</p>
            <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="noshrink svg-fill">
              <g transform="translate(4.000000, 5.000000)">
                <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
              </g>
            </svg>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">Anonymize Through 12 Regions Worldwide</p>
            <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="noshrink svg-fill">
              <g transform="translate(4.000000, 5.000000)">
                <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
              </g>
            </svg>
          </li>
        </ul>
      </div>
    </section>
    <section class="section lightblue-white">
      <div class="container text-center mb50">
        <div class="col-12">
          <h3 class="heading primary-color">Other Sketchy VPNs</h3>
        </div>
      </div>
      <div class="container flex">
        <ul class="checklist col-12">
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">Log And Sell User Data To Third Parties</p>
            <p>❌</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">Inject Advertisements In Web Pages</p>
            <p>❌</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">Closed, Black Box Operation</p>
            <p>❌</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">Lie On Their Terms and Privacy Policy</p>
            <p>❌</p>
          </li>
          <li class="checklist-item flex center-horizontal spread pad20">
            <p class="bold primary-color mr20">No Audits, Partial Audits, or Incomplete Audits</p>
            <p>❌</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="section lightblue-white">
      <div class="container">
        <div class="col-12">
          <div class="faq pad20">
            <b class="bold primary-color">
              How is Confirmed better than other VPNs?
            </b>
            <p class="paragraph secondary-color">
              In recent years, some VPN services have started selling their customers' data and browsing activity directly to marketers and other third parties, just to make a quick buck off their unsuspecting users. (If you're using a deeply discounted or free VPN, you're likely one of these users.)
              <br><br>
              Confirmed VPN doesn't log your browsing activity, nor do we do third-party sharing of your private data. And unlike other VPNs, we can prove our Privacy Policy through being <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a>. Every aspect of our service is 100% transparent to you, auditors, and security and privacy experts, so that you're guaranteed we stick by our strict Privacy Policy.
            </p>
          </div>
          <div class="faq pad20">
            <b class="bold primary-color">
              Commitment To Security And Privacy Audits
            </b>
            <p class="paragraph secondary-color">
              In addition to earning user trust by being the only Openly Operated&#8482; VPN, Confirmed is fully audited and is committed to frequent new audits:<br/>
              <blockquote>
                Confirmed and its auditors can assert that no user data is viewed by, sold to, or shared with third parties.
                <span>Factor13 LLC, December 6th, 2018</span>
                <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/factor13.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 12px;">View Full Report</a>
              </blockquote>
              <blockquote>
                The review found no evidence of third-party data sharing or logging of data from internet traffic.
                <span>Security Consultant Ryan Koven, November 21st, 2018</span>
                <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/rkoven.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 12px;">View Full Report</a>
              </blockquote>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section lightblue-white">
      <div class="container mb50 text-center">
        <div class="col-12">
          <h4 class="heading primary-color">Simple Pricing</h4>
          <p class="paragraph secondary-color">Secure your devices for a small fraction of your internet and cellular bills.</p>
        </div>
      </div>
      <div class="container-lrg">
        <div class="col-12">
          <div class="card flex mobile-flex-wrap">
            <div class="col-4 pad30 flex flex-column spread">
              <div class="mb20">
                <h4 class="bold primary-color">iOS/Android Only</h4>
                <b class="heading primary-color">{{half}}</b>
                <span class="paragraph secondary-color">Monthly</span>
                <ul class="mt20">
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">iPhone/iPad or Android</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">Taxes + Fees Included</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">3 Simultaneous Clients</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">7 Day Free Trial</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4 pad30 flex flex-column spread">
              <div class="mb20">
                <h4 class="bold primary-color">Pro - All Platforms</h4>
                <b class="heading primary-color">{{month}}</b>
                <span class="paragraph secondary-color">Monthly</span>
                <ul class="mt20">
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">Mac, PC, iOS, Android</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">Taxes + Fees Included</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">5 Simultaneous Clients</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">7 Day Free Trial</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4 pad30 flex flex-column spread">
              <div class="mb20">
                <h4 class="bold primary-color">Pro Yearly - Save 15%</h4>
                <b class="heading primary-color">{{annualmonth}}</b>
                <span class="paragraph secondary-color">/Month</span>
                <ul class="mt20">
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">Mac, PC, iOS, Android</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">Taxes + Fees Included</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">5 Simultaneous Clients</span>
                  </li>
                  <li class="flex mb20">
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-fill noshrink mr20">
                      <g transform="translate(4.000000, 5.000000)">
                        <path d="M5.24961475,8.39956394 L2.16512063,5.35475362 C1.74038521,4.93548271 1.05017933,4.9352057 0.624646383,5.35526395 C0.199019838,5.77541456 0.198881924,6.45614266 0.624129379,6.8759191 L4.35212111,10.555948 C4.38658274,10.6034965 4.42544251,10.6488955 4.46870038,10.6915969 C4.70907746,10.9288814 5.03375662,11.0320952 5.3475228,11.0013023 C5.59592563,10.9812599 5.83876209,10.8774981 6.02880771,10.6898975 C6.06831079,10.6509027 6.10414872,10.6096632 6.13632157,10.5665961 L13.9850992,2.81879759 C14.4107939,2.39857976 14.410861,1.71746456 13.985328,1.29740632 C13.5597015,0.8772557 12.8697673,0.877449143 12.444108,1.29763217 L5.24961475,8.39956394 Z"></path>
                      </g>
                    </svg>
                    <span class="span secondary-color">7 Day Free Trial</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="section lightblue-white">
      <div class="container text-center">
        <div class="col-12">
          <h4 class="heading">Start a free 1-week trial.</h4>
          <p class="paragraph mt20 secondary-color">Try the most trusted and the only <a href="/openly-operated" style="color: #3498db; font-weight: 700; white-space: nowrap;">Openly Operated&#8482;</a> way to browse securely and privately.</p>
          <div class="mt40">
            <div class="mt40" style="color: #ddd; font-weight: 700; font-size: 14px;">
              DOWNLOAD
            </div>
            <a href="/download-mac-app" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"><i class="fa fa-apple" style=" margin-right: 2px; " aria-hidden="true"></i> Mac </span>
            </a>
            <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"> <i class="fa fa-apple" style=" margin-right: 2px; " aria-hidden="true"></i> iOS </span>
            </a>
            <a href="/download-windows-app" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"> <i class="fa fa-windows" style=" margin-right: 2px; " aria-hidden="true"></i> PC </span>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"> <i class="fa fa-android" style=" margin-right: 2px; " aria-hidden="true"></i> Android </span>
            </a>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="section text-center lightblue-white">
      <div class="container col-12">
        <nav class="mb50">
          <a href="/privacy.html" class="nav-link secondary-color">Privacy Policy</a>
          <a href="/terms.html" class="nav-link secondary-color">Terms</a>
          <a href="https://help.{{DOMAIN}}" class="nav-link secondary-color">Support</a>
          <a href="mailto:team@{{DOMAIN}}" class="nav-link secondary-color">Contact</a>
          <a href="https://{{DOMAIN}}/signin" class="nav-link secondary-color">Account</a>
        </nav>
        <div style="display:none;">
          <a href="https://twitter.com/confirmedvpn" target="_blank" class="socialicons accent-bg twitter"></a>
          <a href="https://facebook.com/confirmedvpn" target="_blank" class="socialicons accent-bg facebook"></a>
          <a href="mailto:team@{{DOMAIN}}" target="_blank" class="socialicons accent-bg email"></a>
        </div>
        <div class="mt50">
          <span class="span secondary-color">©</span>
          <span class="span secondary-color">2018 Confirmed, Inc. All rights reserved.</span>
        </div>
      </div>
    </footer>

  </body>

</html>