{{> header title="Invoices" }}

<body class="text-center">
  
  {{> nav }}
  
  <div class="container mt-5">
    <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-left">
      
      {{> flash }}      
      
      <div class="container-fluid mt-3 p-3 confirmed-panel">
        <h1 class="h5">Your Invoices</h1>
        <p style="font-size: 13px; color: #777;">
          Invoices for subscriptions created from the iOS or Android app are not listed on this page. Your iOS App Store invoices are <a target="_blank" href="https://support.apple.com/en-us/HT204088">here</a> and your Google Play store invoices are <a target="_blank" href="https://support.google.com/googleplay/answer/2850369?hl=en">here</a>.
        </p>
        {{#each invoices}}
          <a target="_blank" href="{{this.pdf}}" class="btn confirmed-gray-btn btn-sm btn-block">{{ this.start_date }} - {{ this.number }}</a>
        {{/each}}
			</div>
      
      {{#if charges}}
      <div class="container-fluid mt-3 p-3 confirmed-panel">
        <h1 class="h5">Your Charges</h1>
        <ul>
          {{#each charges}}
            <li>
              <p style="font-size: 13px;">{{ this.date }} - {{ this.amount }}<br>{{ this.status }}</p>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

		  <div class="container-fluid mt-3 p-3 confirmed-bg">
        <a href="/account" class="btn confirmed-blue-btn btn-sm btn-block">Account</a>
      </div>
  
    </div> <!-- column -->
  </div> <!-- row -->
  
  {{> footer}}

  {{> bootstrapjs}}
  
</body>