<html>

  <head>
    <title>Confirmed VPN</title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Confirmed VPN bulletproofs your browsing and personal data against hackers, snoopers, and even your ISP.">
    <meta name="author" content="Confirmed Inc.">
    <meta name="apple-itunes-app" content="app-id=1286896061, affiliate-data=partnerId=11l32tU&siteID=2400">
  	<meta property="og:type" content="product">
  	<meta property="og:title" content="Confirmed VPN: Secure, Private Internet">
  	<meta property="og:description" content="Confirmed VPN bulletproofs your browsing and personal data against hackers, snoopers, and even your ISP.">
  	<meta property="og:url" content="https://confirmedvpn.com">
    <meta property="og:image" content="https://confirmedvpn.com/images/preview.jpg">
    <link rel="shortcut icon" href="favicon.ico" />
    <meta name="google-site-verification" content="0szusu_OHNrnWbY2_mY02CTRvIuqOlqjR0FqyxVeyQg" />

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/color.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    
  </head>

  <body class="font-friendly">
    <div class="lightblue-white">
      <header class="header">
        <div class="container-lrg">
          <div class="flex col-12 spread">
            <a class="logo" href="/">
              <img src="images/logo.png" alt="Confirmed VPNCompany Logo">
            </a>
              <a href="https://{{DOMAIN}}/signin" class="paragraph secondary-color person accent-bg header-email" style="margin-left: 10px;">Account</a>
          </div>
        </div>
      </header>
    </div>

    <section class="section lightblue-white">
      <div class="container">
        <div class="col-12 text-center">
          <h1 class="heading primary-color">The Future Is Openly Operated&#8482;</h1>
          <h2 class="subheading secondary-color mt10" style="font-weight: 700;">Meaningful Proof Of User Privacy</h2>
        </div>
      </div>
      
      <div class="container">
        <div class="col-12 mt50">
          <div class="faq">
            <div class="text-center mb10">
              <b class="bold primary-color">
                Companies Today Are Black Boxes With No Accountability
              </b>
            </div>
            <p class="paragraph secondary-color" style="font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              In today's climate, where companies are trying to get their greedy little hands on your personal data any way they can, users have to be picky about what apps and web services they use. But users have no way of knowing if a company can be trusted - after all, Privacy Policies can be copy pasted or be outright lies, especially for companies that are headquartered offshore, outside of regulatory oversight. Today, because companies get to be black boxes, using a typical VPN or app might expose your data to many third parties:
            </p>
            <div class="mt20">
              <img src="images/non-oo.jpg" style="margin-bottom: 15px;"/>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container mt50">
        <div class="col-12">
          <div class="faq">
            <div class="text-center mb10">
              <b class="bold primary-color">
                Openly Operated&#8482; Creates Trust Through Transparency
              </b>
            </div>
            <p class="paragraph secondary-color" style="font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              Openly Operated&#8482; companies have to not only open source all code, but also open up all operational aspects of their service. This includes everything from the network configuration to database setup, leaving no room for the service to hide software that might be selling your data to third parties, or improperly protecting data from company employees and other threats. See the difference below:
            </p>
            <div class="mt20">
              <img src="images/oo.jpg"/>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container mt50">
        <div class="col-12">
          <div class="faq">
            <div class="text-center mb10">
              <b class="bold primary-color">
                Confirmed VPN: The First Openly Operated&#8482; VPN
              </b>
            </div>
            <p class="paragraph secondary-color" style="font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              When you activate a VPN, all your data and browsing goes through it, because the VPN is supposed to encrypt your personal information. So out of all the apps on your device, it's most important that you can trust your VPN. That's why we built Confirmed as the world's first Openly Operated&#8482; VPN.
            </p>
            <p class="paragraph secondary-color mt20" style="font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              We provide our Openly Operated <strong>Verification Kit</strong> below, and we encourage you to check it out, whether you're a user, a developer interested in earning user trust, a security or privacy professional, or just plain curious.
            </p>
          </div>
        </div>
      </div>
      
      <div class="container mt40">
        <div style="padding-top: 20px; background-color: #f6f6f6; border-radius: 4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); max-width: 730px; margin-left: auto; margin-right: auto;">
          <div class="text-center mt5">
            <img src="/images/logo.png" style="height: 50px;">
            <br/>
            <b class="paragraph primary-color" style="font-weight: 700; font-size: 18px;">
              Openly Operated Verification Kit
            </b>
          </div>
          <div style="margin-top: 0px; padding: 15px 20px;">
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 10px;" id="cardTable">
              <tr>
                <td style="width: 30%; font-weight: 700;">Open Source Code</td>
                <td>All Server, Client, Infrastructure Code</td>
                <td><a target="_blank" href="https://github.com/confirmedcode" style="font-weight: 700; color: #3498db;">GitHub</a></td>
              </tr>
              <tr>
                <td style="width: 30%; font-weight: 700;">Audit Logs</td>
                <td>Comprehensive Logs From Inception</td>
                <td><a target="_blank" href="https://s3.amazonaws.com/confirmed-auditlogs/Logs-12-10-18.zip" style="font-weight: 700; color: #3498db; display:block; font-size: 11px" download>Download<br/><span style="color: orange">(Warning: Large)</span></a></td>
              </tr>
              <tr>
                <td style="width: 30%; font-weight: 700;">Open Watch</td>
                <td>Zero Openly Operated Violations</td>
                <td><a href="https://github.com/openlyoperated/Open-Watch" style="font-weight: 700; color: #3498db;">Open Watch</a></td>
              </tr>
              <tr>
                <td style="width: 30%; font-weight: 700;">Documentation</td>
                <td>Both Architecture And Code</td>
                <td><a target="_blank" href="https://github.com/confirmedcode/Docs" style="font-weight: 700; color: #3498db;">GitHub</a></td>
              </tr>
              <tr>
                <td style="width: 30%; font-weight: 700;">Bug Bounty</td>
                <td>Active Project Through hackerone</td>
                <td><a target="_blank" href="https://hackerone.com/confirmed_inc" style="font-weight: 700; color: #3498db;">hackerone</td>
              </tr>
              <tr>
                <td style="width: 30%; font-weight: 700;">Independent Audits</td>
                <td>Two Completed, More Audits Soon</td>
                <td>
                  <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/factor13.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 11px; display: block;">Factor13 LLC, 12/2018</a>
                  <a target="_blank" href="https://s3.amazonaws.com/confirmed-audits/rkoven.pdf" style="font-style: normal; font-weight: 700; color: #3498db; font-size: 11px; display: block;">Ryan Koven, 11/2018</a>
                </td>
              </tr>
              <tr style="border-bottom: none;">
                <td style="width: 30%; font-weight: 700;">Read-Only Account</td>
                <td>Available Upon Request</td>
                <td><a href="mailto:engineering@confirmedvpn.com?subject=Request%20For%20Read%20Only%20Account&body=I'd%20like%20a%20read-only%20account%20for%20Confirmed%20VPN's%20backend%2C%20please.%0AReason%3A" style="font-weight: 700; color: #3498db;">Request</a></td>
              </tr>
            </table>
            <div style="float:right; font-size: 12px; font-weight: 700; color: #aaa">
              Last Updated: December 10th, 2018
            </div>
            <div style="clear:both;">
          </div>
          
        </div>
      </div>
      
      <div class="container mt50">
        <div class="col-12">
          <div class="faq">
            <p class="paragraph secondary-color" style="font-weight: 500; line-height: 1.5; font-family: 'Avenir Next', Montserrat;">
              At Confirmed, we hope that by creating the first Openly Operated service, we'll set a new standard for openness in web services. Our hope is that once users start seeing the level of transparency that's possible an online service they use, they'll feel real assurance that their data isn't being abused, and they'll never want to go back to black box apps again. We hope this creates a better Internet for all users.
            </p>
          </div>
        </div>
      </div>

    </section>
  
    <section class="section lightblue-white">
      <div class="container text-center">
        <div class="col-12">
          <h4 class="heading">Start a free 1-week trial.</h4>
          <p class="paragraph mt20 secondary-color">Try the most trusted and the only Openly Operated&#8482; way to browse securely and privately.</p>
          <div class="mt40">
            <div class="mt40" style="color: #ddd; font-weight: 700; font-size: 14px;">
              DOWNLOAD
            </div>
            <a href="/download-mac-app" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"><i class="fa fa-apple" style=" margin-right: 2px; " aria-hidden="true"></i> Mac </span>
            </a>
            <a href="https://itunes.apple.com/us/app/confirmed-vpn/id1286896061?mt=8&uo=6&at=11l32tU&ct=confirmed_vpn" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"> <i class="fa fa-apple" style=" margin-right: 2px; " aria-hidden="true"></i> iOS </span>
            </a>
            <a href="/download-windows-app" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"> <i class="fa fa-windows" style=" margin-right: 2px; " aria-hidden="true"></i> PC </span>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.confirmed.tunnels" target="_blank" class="button mt10 mr10 primary-color accent-bg">
              <span style="font-size: 18px;"> <i class="fa fa-android" style=" margin-right: 2px; " aria-hidden="true"></i> Android </span>
            </a>
          </div>
        </div>
      </div>
    </section>
  
    <footer class="section text-center lightblue-white">
      <div class="container col-12">
        <nav class="mb50">
          <a href="/privacy.html" class="nav-link secondary-color">Privacy Policy</a>
          <a href="/terms.html" class="nav-link secondary-color">Terms</a>
          <a href="https://help.{{DOMAIN}}" class="nav-link secondary-color">Support</a>
          <a href="mailto:team@{{DOMAIN}}" class="nav-link secondary-color">Contact</a>
          <a href="https://{{DOMAIN}}/signin" class="nav-link secondary-color">Account</a>
        </nav>
        <div style="display:none;">
          <a href="https://twitter.com/confirmedvpn" target="_blank" class="socialicons accent-bg twitter"></a>
          <a href="https://facebook.com/confirmedvpn" target="_blank" class="socialicons accent-bg facebook"></a>
          <a href="mailto:team@{{DOMAIN}}" target="_blank" class="socialicons accent-bg email"></a>
        </div>
        <div class="mt50">
          <span class="span secondary-color">©</span>
          <span class="span secondary-color">2018 Confirmed, Inc. All rights reserved.</span>
        </div>
      </div>
    </footer>

  </body>

</html>